[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/telegram_bot/main.py
WorkingDirectory=/root/telegram_bot
Restart=always
User=root

[Install]
WantedBy=multi-user.target